a {
    text-decoration: none;
    line-height: inherit;
}
body {
    font-family: var(--roboto);
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.14;
}

li {
    list-style: none;
}