/* general */
:root {
--blue: #2196F3;
--main-black: #212121;
--main-grey: #757575;
--main-white: #FFFFFF;

--grey-bg: #2F303A;

--raleway: 'Raleway', sans-serif;
--roboto: 'Roboto', sans-serif;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-black);
}

/* Header */

.header {
    border: 1px solid #ECECEC;
}

.logo {
    font-family: var(--raleway);
    font-weight: 700;
    font-size: 26px;    
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-blue {
    color: var(--blue);
}

.logo-black {
    color: var(--main-black);
}

.nav-list-link {
    color: var(--main-black);
}

.nav-list-link:hover,
.nav-list-link:focus {
    color: var(--blue);
    cursor: pointer;
}

.contact-list-item > a {
    color: var(--main-grey);
}

.contact-list-item>a:hover,
.contact-list-item>a:focus {
    color: var(--blue);
    cursor: pointer;
}

.nav > ul > li {
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-size: 14px;
}

/* MAIN */

/* Hero section */

.hero {
    background: var(--grey-bg);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: var(--main-white);
}

.hero-button {
background-color: var(--blue);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border: 0;
width: 216px;
height: 50px;
border-radius: 4px;
color: var(--main-white);
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
}

/* descr section */

.descr-list-item > h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-black);
}

.descr-list-item > p {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;   
    color: var(--main-grey);
}

/* team section */

.team {
    background: #F5F4FA;
}

.team-item > h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-black);
}

.team-item > p {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-grey);
}

/* Footer */

.logo-white {
    color: var(--main-white);
}

.footer {
    background: var(--grey-bg);
}

.footer-list-item > a {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.color-white {
    color: var(--main-white);
}

.color-grey {
    color: var(--main-grey)
}

.color-grey:focus,
.color-grey:hover {
    color: var(--blue);
    cursor: pointer;
}

/* portfolio */

.prtf-menu-list-item > button{
    background: #F5F4FA;
    border-radius: 4px;
    border: 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-black);
    font-family: inherit;
}

.prtf-menu-list-item>button:hover,
.prtf-menu-list-item>button:focus {
    color: var(--main-white);
    background: var(--blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.prtf-list-item {
    border: 1px solid #EEEEEE;
    width: 370px;   
}

.prtf-list-item > img {
    width: 370px;
    height: 294px;
}

.prtf-list-item > h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-black)
}

.prtf-list-item > p {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

    color: var(--main-grey);

}